* {
	color: white;
	font-family: 'Alumni Sans Pinstripe', sans-serif;
	font-family: 'Roboto Condensed', sans-serif;
}

.header {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: black;
	justify-content: baseline;
	padding: 25px;
}

.pre-navbar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin-right: 5px;
}

.pre-navbar-item {
	margin-right: 20px;
}

@media only screen and (max-width: 700px) {
    .pre-navbar-item {
		display: none;
	}

	.menu-item {
		display: none;
	}
}

.navbar{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	/*background-color: orange;*/
}

.navbar-brand {
	width: 50%;
	height: 60px;
	/*background-color: blue;*/
	display: flex;
	flex-direction: row; 
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

.brand {
	flex-basis: 100px;
	height: auto;
}

.menu {
	width: 50%;
	height: 60px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-end;
	/*background-color: blue;*/
}

.menu-item {
	flex-grow: 1;
	/*padding: 5px;*/
	margin: 5px;
	/*background-color: red;*/
	text-align: center;
}

.menu-item a {
	text-decoration: none;
}

.menu-item a:hover {
	text-decoration: underline;
}

.modelos {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}

.modelos-title {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
}

.modelos-menu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
	padding-left: 200px;
	padding-right: 200px;
}

.modelos-title h2 {
	color: black;
}

.modelos-menu a {
	padding-left: 50px; 
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: grey;
	text-decoration: none;
	font-size: 18px;
}

.modelos-menu a:hover {
	background-color: black;
	color: white;
}

.modelos-cars {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.card {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.card:hover {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
} 

.responsive {
	width: 100%;
	height: auto;
}